# 1) Исключаем виртуальное окружение
venv/
.venv/
env/
*.egg-info/

# 2) Исключаем скомпилированные Python-файлы
__pycache__/
*.py[cod]
*$py.class

# 3) Исключаем лог-файлы и временные файлы
*.log
*.pot
*.pyc
*.pyo
*.swp
*.swo
*.~*

# 4) Исключаем файлы и папки, создаваемые IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 5) Исключаем файлы/папки ОС (Windows, macOS, Linux)
.DS_Store
Thumbs.db

# 6) Исключаем настройки окружения/конфиденциальные данные
.env
*.local
*.secret


# 8) Исключаем статические файлы, если они собираются в STATIC_ROOT
staticfiles/
static/

# 9) Исключаем файлы миграций (по желанию, обычно их версионируют)
# Если вы хотите исключить их полностью (не рекомендуется для продакшн)
# можно добавить:
# */migrations/*
# !*/migrations/__init__.py

# 10) Исключаем файлы для тестового покрытия
htmlcov/
.coverage
.coverage.*

# 11) Исключаем файлы пакетов
dist/
build/
*.egg
.eggs/